
h1 {

    background-color: rgb(158, 211, 158);
    color: white;

}

.pirmaP {

    background-color: rgb(190, 190, 183);

}

.antraP {

    background-color: purple;
    color: white;

}

.eilute {

    color: red;
    background-color: black;

}